.taskarea {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f6f7f8;
    width: 100%;
    padding-left: 3rem;
    box-sizing: border-box;
    font-family: 'Inter';
    gap: 2rem;
    height: 100%;
}

.left-form {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: start;
    width: 100%;
    margin-right: 1rem;
    max-width: 500px;
    min-width: 300px;
}

.form-item {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.pickedCat {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

.taskarea h1 {
    font-size: 2rem;
    margin-bottom: 0;
}

.vertical-divider {
    border: 0.3px solid lightgray;
}


#contact-selection li img {
    fill: black;
}


.date-input {
    height: 50px;;
    box-sizing: border-box;
    width: 100%;
}

input {
    width: 100%;
    box-sizing: border-box;
}

.right-form {
    width: 100%;
    max-width: 500px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: start;
    position: relative;
    margin-inline: 1rem;
    box-sizing: border-box;
}

.subtask-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: .5rem;
}

.selectedColor {
    box-shadow: 0px 4px 4px 0px #00000040;
}



.inviteContactBtn {
    display: flex;
    height: 50px;;
    align-items: center;
    position: absolute;
    top: 38px;
    right: 20px;
    cursor: pointer;
}

.inviteContactInput {
    position: absolute;
    top: 37px;
}

.contacts-selection #contact-selection div {
    list-style: none;
    padding: 1rem 1rem;
    border-bottom: 1px solid #d1d1d1;
    font-size: 1.2rem;
}

.contacts-selection #contact-selection div:hover {
    cursor: pointer;
    background-color: #d1d1d1;
}

.contacts-selection #contact-selection div:last-child{
    border-bottom: none;
    font-size: 1.2rem;
}

[type="checkbox"] {
    display: flex;
    flex-direction: row;
    width: 15px!important;
    height: 15px!important;
    justify-content: space-between;
}

.contact-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contact-item label {
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}

.contacts-selection li {
    display: flex;
    height: 50px;
    justify-content: space-between;
    box-sizing: border-box;
}

.contacts-selection li label {
    font-size: 1.2rem;
}

.dropdown-check {
    height: 50px;;
    width: 50px!important;
    margin-right: -15px;
}

.addtask-form-container .dropdown-check {
    height: 15px;
}
.contacts-selection li input {
    width: 50px !important;
}


/* DROPDOWNS END */

/* SUBTASK STYLING*/
.subtask-input {
    width: 100%;
    position: relative;
    cursor: pointer;
    top: -50px;
}

.subtask-label {
    width: 100%;
}

.subtask-dropdown {
    position: relative;
}

.addTaskBtns {
    position: absolute;   
    width: 50px;
    display: flex;
    top: 41px;
    right: 30px;
    cursor: pointer;
}

.d-none {
    display: none;
}

.cancel {
    border-right: 1px solid lightgrey;
    padding: 10px;
}

.check {
    margin-left: 10px;
}

#category-input {
    position: relative;
}

#category-selection li{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.addCategoryInput {
    position: absolute;
    top: 38px;
}

.category-colors {
    position: absolute;
    display: flex;
    justify-content: space-between;
    gap: 1.2rem;
    top: 100px;
    left: 1rem;
}

.category-colors div {
    cursor: pointer;
}

.createCatBtn {
    position: absolute;
    display: flex; 
    align-items: center;
    height: 50px;;
    top: 38px;
    right: 15px;
}

.createCatBtn img {
    cursor: pointer;
}

/* CATEGORY COLORS*/
.purple {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #8AA4FF;
}

.red {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #FF0000;
}

.green {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #2AD300;
}

.orange {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #FF8A00;
}

.pink {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #E200BE;
}

.blue {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #0038FF;
}

/* CATEGORY COLORS END */

/* PRIO BUTTONS */
.prio-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.prio-buttons div {
    background-color: white;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    width: 32%;
    border: 1px solid lightgray;
    border-radius: 10px;
    cursor: pointer;
}

.prio-buttons div img {
    width: 20px;
}

.prio-buttons div:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: white;
    border: none;
    font-weight: 600;
}

.prio-buttons div:hover img {
    filter: brightness(0) invert(1);
}

.prio-buttons .urgent:hover {
    background: #FF3D00;
}

.prio-buttons .medium:hover {
    background: #FFA800;
}

.prio-buttons .low:hover {
    background: #7AE229;
}

.activeUrgent {
    background: #FF3D00 !important;
    color: white;
    border: none;
    font-weight: 600;
}

.activeMedium {
    background: #FFA800 !important;
    color: white;
    border: none;
    font-weight: 600;
}

.activeLow {
    background: #7AE229 !important;
    color: white;
    border: none;
    font-weight: 600;
}

.activePick img {
    filter: brightness(0) invert(1);
}

/* PRIO BUTTONS END */

.submit {
    cursor: pointer;
}

.add-btn-wrapper {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    height: 50px;
    position: absolute;
    z-index: 9;
    bottom: 0;
    left: 1.5rem;
}