

header {
    display: flex;
    justify-content: space-between;
    height: calc(45vh - 90px);
}

.title h1{
    font-size: 4rem;
}
.interactive-container {
    display: flex;
    justify-content: space-between;
}

.search-container {
    display: flex;
    
}