/*********** Header Area ***********/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(45vh - 90px);
    margin: 0rem 4rem 0rem 4rem;
}

.borderHeader {
    height: 100px;
}

input {
    border-radius: 0.5rem;
    border: 1px solid rgb(233, 231, 231);
    height: 3rem;
    width: 15rem;
    margin-right: 3rem;
    font-size: 1rem;
    padding: 0.5rem;
}

.button-norm {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(42, 55, 71);
    color: white;
    height: 3rem;
    width: 7rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    padding: 0.5rem;
    transition: 125ms ease-in-out;
    cursor: pointer;
}

.button-norm img {
    height: 1rem;
}

.button-norm:hover {
    transition: 125ms ease-in-out;
    background-color: rgb(42, 171, 226);
}

.title h1 {
    font-size: 3.5rem;
}

.lupe-img {
    background-image: url("../../assets/img/icons/lupe.svg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 2.5rem;
}

.interactive-container {
    display: flex;
    justify-content: space-between;
}

/*********** Task Area ***********/

.board-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0rem 4rem 0rem 1rem;
    height: calc(100vh - 90px - 100px);
}

.box-task-design {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 13rem;
    max-height: 15.6rem;
    width: 15.6rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 1.9rem;
    margin-bottom: 2rem;
    padding: 1.5rem;
    cursor: pointer;
}

.box-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-bottom: 1.5rem;
    width: 300px;
    height: 55px;
}

.img-container .plus-icon-hover {
    display: none;
}

.img-container:hover .plus-icon {
    display: none;
    transition: 125ms ease-in-out;
}

.img-container:hover .plus-icon-hover {
    display: inline-block;
    transition: 125ms ease-in-out;
}

.box-overflow {
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 0.4rem;
    height: calc(100vh - 90px - 160px - 55px);
}

.column-direction h2 {
    font-size: 1.2rem;
}


/* Schmalen Scrollbalken für Webkit-Browser */
.box-overflow::-webkit-scrollbar {
    width: 5px;
}

/* Hintergrund des Scrollbalkens */
.box-overflow::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Griff des Scrollbalkens */
.box-overflow::-webkit-scrollbar-thumb {
    background: rgb(219, 218, 218);
    border-radius: 4px;
}

/* Bei Hover über den Scrollbalken */
.box-overflow::-webkit-scrollbar-thumb:hover {
    background: rgb(186, 186, 186);
}

/*********** Taskbox Content ***********/

.category h3 {
    font-size: 1.5rem;
    color: white;
    margin: 0rem 0.5rem 0 0.5rem;
}

.task-name h4 {
    font-size: 1.2rem;
}

.task-description span {
    font-size: 1rem;
    color: gray;
}

.worker p {
    font-size: 0.8rem;
    color: white;
    margin: 0;
    padding: 0.8rem;
    border-radius: 100%;
    border: 2px solid white;
    color: white;
    position: relative;
    z-index: 1;
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.6rem;
    width: fit-content;
    height: 2rem;
    background-color: rgb(255, 98, 0);
}

.category-header {
    display: flex;
    justify-content: space-between;
}

.arrow-container {
    display: flex;
    gap: 0.5rem;
}

.worker {
    display: flex;
    width: fit-content;
    position: relative;
}

.worker p:not(:first-child) {
    margin-left: -0.5rem;
    /*Schließt das erste Kind aus und wählt alle nachfolgenden <p>-Elemente aus.*/
}

.worker-a {
    background-color: blue;
}

.worker-b {
    background-color: red;

}

.worker-c {
    background-color: green;
}

/*********** Card details view ***********/

.popup-bg {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgb(184, 185, 186);
    opacity: 0.5;
    width: 100vw;
    height: 100vh;
    z-index: 900;
}

.task-info {
    min-width: 600px;
    min-height: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    top: 0;
    transform: translate(-50%, 15%);
    background-color: white;
    border-radius: 2rem;
    z-index: 901;
    padding: 1rem 2rem 1rem 2rem;
}

.mg-det-view {
    margin-top: 2rem;
    height: 2.3rem;
}

.mg-det-view h3 {
    font-size: 1.5rem !important;
    font-family: "inter";
}

.det-title h1 {
    font-size: 3rem;
}

.text-type {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.text-type span {
    font-size: 1.3rem;
}

.close-btn-container {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2rem;
    cursor: pointer;
}

.delete-edit-container {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 2rem;
}

.del-btn {
    margin-right: -0.3rem;
    cursor: pointer;
}

.edit-btn {
    cursor: pointer;
}

.worker-container {
    display: flex;
    align-items: center;
}

.border-status {
    border-radius: 0.5rem;
    padding: 0.1rem 1rem 0.1rem 1rem;
}

/*********** Card edit view ***********/

.edit-task {
    min-width: 600px;
    min-height: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    top: 0;
    transform: translate(-50%, 15%);
    background-color: white;
    border-radius: 2rem;
    z-index: 999;
    padding: 1rem 2rem 1rem 2rem;
}

.form-item {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.lbk-font {
    font-size: 1.3rem;
}

.input-design {
    border-radius: 0.5rem;
    border: 1px solid rgb(233, 231, 231);
    width: 100%;
    font-size: 1rem;
    font-family: "inter";

}

textarea {
    width: 97%;
    border-radius: 0.5rem;
    border: 1px solid rgb(233, 231, 231);
    font-size: 1rem;
    font-family: "inter";
    padding-top: 1rem;
    padding-left: 0.5rem;
}

.border-color {
    border: 1px solid rgb(233, 231, 231);
}

.mg-dropdown {
    margin-top: 1.5rem;
}

.save-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    margin: 2rem;
    bottom: 0;
    right: 0;
    background-color: rgb(42, 55, 71);
    color: white;
    height: 3rem;
    width: 7rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    transition: 125ms ease-in-out;
    cursor: pointer;
}

.save-btn img {
    height: 1.2rem;
}

.save-btn:hover {
    transition: 125ms ease-in-out;
    background-color: rgb(42, 171, 226);
}

.responsible-worker {
    display: flex;
    align-items: center;
}

.responsible-worker img {
    margin-right: 1rem;
}

/*********** Modal ***********/
#bg-layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
}

#addTask-modal {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    background-color: white;
    transform: scale(0);
    width: 1171px;
}

.active-modal {
    transform: scale(1);
}

.purpleCat {
    background-color: #8AA4FF;
}

.redCat {
    background-color: #FF0000;
}

.greenCat {
    background-color: #2AD300;
}

.orangeCat {
    background-color: #FF8A00;
}

.pinkCat {
    background-color: #E200BE;
}

.blueCat {
    background-color: #0038FF;
}

.drag-area-highlight {
    background-color: rgba(211, 211, 211, 0.219);
    border-radius: 2rem;
    transition: all 150ms ease-in-out;
}

.input-mobile {
    display: none;
}

.mobile-header {
    display: none;
}

#move-to-next-section {
    display: none;
}

#move-to-privious-section {
    display: none;
}

.d-none {
    display: none;
}

/*********** Responsive Area ***********/

@media (max-width:1700px) {
    .box-task-design {
        min-height: 11rem;
        max-height: 15.6rem;
        width: 11rem;
    }

    .box-overflow {
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 0.4rem;
        min-height: 200px;
    }

    .box-title {
        width: 230px;
    }
}

@media (max-width: 1390px) {
    .board-container {
        flex-direction: column;
        align-items: center;
        overflow-y: scroll;
        height: calc(100vh - 90px - 100px - 78.5px);
        margin: unset;
    }

    .box-task-design {
        min-height: 15.6rem;
        max-height: 15.6rem;
        width: 34.6rem;
    }

    .box-title {
        width: 600px;
    }

    .box-overflow {
        max-height: unset;
        height: unset;
    }

    #move-to-next-section {
        display: block;
    }

    #move-to-privious-section {
        display: block;
    }

    .move-to-icon {
        width: 25px;
        padding: 0.2rem;
        border: 1px solid rgb(178, 178, 178);
        border-radius: 0.5rem;
        transition: 125ms ease-in-out;
    }

    .move-to-icon:hover{
        transition: 125ms ease-in-out;
        border: 1px solid rgb(45, 45, 45);
    }
}

@media (max-height: 900px) {
    .edit-task {
        transform: translate(-50%, 5%);
    }
}

@media (max-width:720px) {
    header {
        display: none;
    }

    button {
        border: unset;
        background-color: unset;
        cursor: pointer;
    }

    .task-info {
        min-width: 80%;
    }

    .edit-task {
        min-width: 80%;
    }

    .box-task-design {
        width: 25.6rem;
    }

    .box-title {
        width: 460px;
    }

    .title h1 {
        margin-left: -14rem;
    }

    .board-container {
        height: calc(100vh - 90px - 79px);
        margin: unset;
    }

    .button-mobile {
        margin-right: -15rem;
    }

    .input-mobile {
        display: flex;
    }

    .mobile-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0rem 8rem 0rem 7rem;
    }

    .input-field-container {
        margin: -2rem 0rem 2rem -11rem;
    }
}

/*checkbox subtask*/

.control {
    font-family: arial;
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 16px;
}
.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.control_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border: 0px solid #000000;
    border-radius: 20px;
}
.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #cccccc;
}

.control input:checked ~ .control_indicator {
    background: #2aa1c0;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: #0e6647d;
}
.control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-checkbox .control_indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control_indicator:after {
    border-color: #7b7b7b;
}
.control-checkbox .control_indicator::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 4.5rem;
    height: 4.5rem;
    margin-left: -1.3rem;
    margin-top: -1.3rem;
    background: #2aa1c0;
    border-radius: 3rem;
    opacity: 0.6;
    z-index: 99999;
    transform: scale(0);
}
@keyframes s-ripple {
    0% {
        transform: scale(0);
    }
    20% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}
@keyframes s-ripple-dup {
    0% {
        transform: scale(0);
    }
    30% {
        transform: scale(1);
    }
    60% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}

@media (max-width: 540px) {
    .title h1 {
        margin-left: -9rem;
    }

    .button-mobile {
        margin-right: -10rem;
    }

    .input-field-container {
        margin: -2rem 0rem 2rem -1rem;
    }

    .box-title {
        width: 300px;
    }

    .box-task-design {
        min-height: 15.6rem;
        max-height: 15.6rem;
        width: 15.6rem;
    }
}

@media(max-width: 390px) {
    .task-info {
        min-width: 90%;
        height: 100%;
        transform: translate(-50%, 0%);
        border-radius: 0rem;
    }

    .edit-task {
        min-width: 90%;
        transform: translate(-50%, 0%);
        border-radius: 0rem;
        height: 100%;
    }

    .save-btn {
        bottom: 1rem;
    }

}

@media (max-width: 375px) and (max-height: 667px) {

    .det-title h1 {
        font-size: 2rem;
    }

    .task-info {
        min-width: 90%;
        height: 100%;
        transform: translate(-50%, 0%);
    }

    .edit-task {
        min-width: 90%;
        transform: translate(-50%, 0%);
        border-radius: 0rem;
    }

    .delete-edit-container {
        margin: 0rem 2rem 3rem;
    }

    .contact-mobile-detail {
        overflow-y: scroll;
        height: 230px;
    }

    .contact-mobile-edit {
        overflow-y: scroll;
        height: 100px;
    }
}