
.contacts {
    display: flex;
    flex-grow: 100;
}

.allContacts {
    width: 453px;
    height: 100%;
    background: #ffffff;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
    overflow-y: scroll;
}

.selectedContact {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-grow: 100;
    padding: 0px;
}

.contactSlogan {
    display: flex;
    align-items: center;
    gap: 30px;
}

.contactsTitle {
    /* Version 2/t1 */

    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;

    /* or 73px */

    color: #000000;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.contactsVector {
    width: 0px;
    height: 59px;

    border: 2px solid #29abe2;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.contactsText {
    width: 235px;
    height: 32px;

    /* Version 2/t5 */

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 120%;

    /* or 32px */

    color: #2a3647;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}