.info-container {
    overflow-y: scroll;
    height: calc(100vh - 90px);
    padding: 5rem;
}

.info-container 
h2,
h3,
h4 {
    color: rgb(61, 82, 109);
}

.info-container a{
    color: rgb(82, 82, 82);
    text-decoration: unset;
}