@media(max-width: 1170px) {
    .mobile-HL {
        display: block;
        font-size: 1rem;
        
        width: 90vw;
        margin: auto;
        margin-top: 1.5rem;
    }

    .mobile-submit {
        display: unset;
        position: absolute;
        top: 14px;
        right: 1rem;
    }

    .content-wrapper h1 {
        display: block;
        width: 90vw;
        margin: auto;
        margin-top: 1.5rem;
    }
    .addtask-form-container {
        display: block;
        width: 90vw;
        margin: auto;
    }

    .vertical-divider {
        display: none;
    }

    .left-form, .right-form {
        margin: unset;
        max-width: unset;
        padding-bottom: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        justify-content: start;
        position: relative;
        box-sizing: border-box;
    }

    .add-btn-wrapper {
        display: none;
    }

    .taskarea {
        display: unset;
        min-width: 350px;
        padding-left: 0;
        overflow-y: scroll;
    }

    .form-item {
        min-width: 300px;
    }

    .notification {
        left: calc(50% - 140px);
    }

    .active-note {
        bottom: calc(50vh - 25px);
    }
}