@media(max-width: 1170px) {

    .modalView {
        height: unset;
        width: 100vw;
        margin: auto;
        height: 100vh;
        padding: 1rem;
        border-radius: 0;
        /* padding-top: 13rem !important; */
    }
    .mobile-HL {
        display: block;
        font-size: 1rem;
        width: 90vw;
        margin: auto;
        margin-top: 1.5rem;
    }

    .mobile-submit {
        display: unset;
        position: absolute;
        top: 14px;
        right: 1rem;
    }
    .mobile-close {
        display: unset;
        position: absolute;
        top: 14px;
        right: 14rem;
    }

    .content-wrapper h1 {
        display: block;
        width: 90vw;
        margin: auto;
        margin-top: 1.5rem;
    }
    .addtask-form-container {
        display: block;
        width: 90vw;
        margin: auto;
    }

    .vertical-divider {
        display: none;
    }

    .left-form, .right-form {
        margin: unset;
        max-width: unset;
        padding-bottom: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        justify-content: start;
        position: relative;
        box-sizing: border-box;
    }

    .add-btn-wrapper {
        display: none;
    }

    .taskarea {
        display: block;
        min-width: 350px;
        padding-left: 0;
        overflow-y: auto;
        padding: 2rem;
    }

    .form-item {
        min-width: 300px;
    }

    .notification {
        left: calc(50% - 140px);
    }

    .active-note {
        bottom: calc(50vh - 25px);
    }
}

@media (max-width: 500px){
    .modalView .mobile-HL {
        display: none;
    }
    .modalView {
        overflow-x: hidden;
    }
}

.whundred {
    width: 100%;
    background-position: 475px !important;
}