.frame97 {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 25px;
    gap: 35px;

    width: 357px;
    height: 79px;

    background: #ffffff;
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    flex-grow: 0;
}

.frame97:hover {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 25px;
    gap: 35px;

    width: 357px;
    height: 79px;

    background: #2a3647;
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    flex-grow: 0;
}

.frame79 {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 42px;
    height: 42px;

    background: #ffffff;
    border-radius: 45px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.group9 {
    width: 42px;
    height: 42px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.AM {
    position: relative;
    width: 28px;
    height: 10px;
    left: 7px;
    top: 16px;

    /* Version 2/t7 */

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */

    display: flex;
    align-items: center;
    text-align: center;

    color: #ffffff;

    z-index: 1;
}

.ellipse5 {
    box-sizing: border-box;

    position: relative;
    width: 42px;
    height: 42px;
    left: 0px;
    top: 0px;

    background: #ff7a00;
    border: 1px solid #ffffff;
}

.frame81 {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;

    width: 156px;
    height: 49px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.contactCardName {
    width: 116px;
    height: 25px;

    /* Version 2/t6 */

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    /* or 25px */

    display: flex;
    align-items: center;

    color: #000000;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.contactCardEmail {
    width: 156px;
    height: 19px;

    /* Version 2/body */

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */

    display: flex;
    align-items: center;

    color: #007cee;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
