.contactDivider {
    margin-bottom: .87rem;
    margin-top: .87rem;
}

.contactDividerLetter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    margin-left: 1.5625rem;
    font-size: 1.3125rem;
}

.contactDividerLine {
    background-color: #D1D1D1;
    height: 2px;
    margin-left: 24px;
    margin-right: 24px;
}
