.contactCard {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 25px;
    gap: 35px;

    width: 357px;
    height: 79px;

    background: #ffffff;
    border-radius: 10px;
}

.contactCard:hover{
    cursor: pointer;
    background: #2A3647;
}
