.floatingContact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 21px;
    flex: 1;
    width: 100%;
    margin-top: 64px;
}

.frame105 {
    display: flex;
    align-items: center;
    gap: 54px;
}

.frame104 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 13px;
}

#contactName {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 47px;
    line-height: 120%;

    display: flex;
    align-items: center;
    flex-grow: 100;

    color: #000000;
}

.bigNameAbbreviation {
    width: 120px;
    height: 120px;
    border-radius: 60px;
}

.amBigNameAbbrevation {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 47px;
    line-height: 120%;
}

.frame108 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
}

.addTaskContacts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
}

.group11 {
    width: 15px;
    height: 15px;
}

.vector14 {
    position: relative;
    width: 0px;
    height: 15px;
    left: 8px;
    top: -3.36px;

    border: 1.5px solid #29abe2;
    transform: rotate(90deg);
}

.vector13 {
    position: relative;
    width: 0px;
    height: 15px;
    left: 7.5px;
    top: -20px;

    border: 1.5px solid #29abe2;
}

.addTask {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;

    color: #29abe2;
}

.frame106 {
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 59px;
}

.contactInformation {
    width: 207px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
}

.frame100 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.editContacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 6px;
}

.editContact {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;

    color: #2a3647;
}

.frame101 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
}

.frame102 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.email {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
}

.phone {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
}

.floatingContactPhone {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
}

.forButton {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.secondaryContact {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 197.77px;
    height: 53px;

    background: #2a3647;
    border: 1px solid #2a3647;
    border-radius: 10px;
}

.newContact {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;

    color: #ffffff;
}

.capa1 {
    width: 28px;
    height: 25px;

}

.capa1Vector1 {
    left: 86.29%;
    right: 7.58%;
    top: 50.71%;
    bottom: 26.42%;
    background: #ffffff;
}

.capa1Vector2 {
    left: 78.37%;
    right: 13.12%;
    top: 53.57%;
    bottom: 26.42%;
    background: #ffffff;
}

.capa1Vector3 {
    left: 80.35%;
    right: 12.75%;
    top: 26.42%;
    bottom: 47.86%;
    background: #ffffff;
}

#contactEmail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
}

#contactPhone {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.frame81Floating {
    margin: 0;
    flex-grow: 100;
}
