.contacts {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
}

.allContacts {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 453px;
    height: calc(100vh - 90px);

    background: #ffffff;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);

    overflow-y: scroll;
}

.selectedContact {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
    height: calc(100vh - 90px - 128px);
    justify-content: space-between;
    padding: 64px;
}

.contactsTitle {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    margin: 0;
}

.contactsVector {
    width: 0px;
    height: 59px;

    border: 2px solid #29abe2;
}

.contactSlogan {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    gap: 30px;
}

.contactsText {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 120%;

    color: #2a3647;
}
