:root {
    --modalHeight: 594px;
    --modalBorder: 30px;
    --modalWidth: 1212px;
    --lefSideWidth: 463px;
    --rightSideWidth: calc(var(--modalWidth) - var(--lefSideWidth))
}

.addContact {
    width: var(--modalWidth);
    height: var(--modalHeight);

    background: #ffffff;
    border-radius: var(--modalBorder);
    display: flex;
}

#contactData {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 21px;

    width: 461px;
    height: 364px;
}

.contactName {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 54px;

    width: 461px;
    height: 120px;

    /* Inside auto layout */

    flex: none;
    flex-grow: 0;
}

.contactInformation {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 59px;

    width: 392.85px;
    height: 74px;

    /* Inside auto layout */

    flex: none;
    flex-grow: 0;
}

#contactEmail {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;

    width: 140px;
    height: 53px;

    /* Inside auto layout */

    flex: none;
    flex-grow: 0;
}

#contactPhone {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;

    width: 124px;
    height: 53px;

    /* Inside auto layout */

    flex: none;
    flex-grow: 0;
}

.addContactLeftSide {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    isolation: isolate;

    width: var(--lefSideWidth);
    height: var(--modalHeight);
    border-top-left-radius: var(--modalBorder);
    border-bottom-left-radius: var(--modalBorder) ;

    /* Version 2/ main color  */

    background: #2a3647;
}

.addContactRightSide{
    width: var(--rightSideWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
