<div onclick="event.stopPropagation()" class="overlay">
    <div class="frame194">
        <div class="capa2">
            <img src="../../assets/img/logo-on-dark-bg.svg" alt="logo" />
        </div>
        <div id="addContactOverlay" class="addContactOverlay">New Contact</div>
        <div id="tasksAreBetterWithATeam" class="tasksAreBetterWithATeam">
            Tasks are better with a team!
        </div>
        <div class="vector5"></div>
    </div>
    <div class="group13">
        <div
            id="frame79OpenCard"
            class="frame79 bigNameAbbreviation"
            style="background-color: #d1d1d1">
            <img src="../img/icons/whiteHuman.svg" alt="human" />
        </div>
    </div>
    <form id="form" class="forColumnDirection" onsubmit="addNewContact(event)">
        <div class="group11OpenCard">
            <img
                closeModalButton
                src="../../assets/img/icons/cross.svg"
                alt="Kreuz" />
        </div>
        <div class="addContactText">
            <div class="frame155">
                <input
                    required
                    placeholder="Name"
                    id="newContactName"
                    type="text"
                    class="frame14" />
            </div>
            <div class="frame1570">
                <input
                    required
                    placeholder="Phone"
                    id="newContactPhone"
                    type="tel"
                    class="frame14" />
            </div>
            <div class="frame156">
                <input
                    required
                    placeholder="Email"
                    id="newContactMail"
                    type="email"
                    class="frame14" />
            </div>
        </div>
        <div class="frame35">
            <div class="frame27">
                <button type="reset" closeModalButton class="secondary-btn">
                    Cancel
                    <span class="iconoirCancel">
                        <img src="../img/icons/cross.svg" alt="Kreuz" />
                    </span>
                </button>
                <button type="submit" id="contactButton" class="main-btn">
                    <div id="contactButtonName" class="CreateContact">
                        Create contact
                    </div>
                    <div class="akarIconsCheck">
                        <img src="../img/icons/checkContact.svg" alt="Haken" />
                    </div>
                </button>
            </div>
        </div>
    </form>
</div>
