<div onclick="event.stopPropagation()" class="overlay">
    <div class="frame194">
        <div class="capa2">
            <img src="../../assets/img/logo-on-dark-bg.svg" alt="logo" />
        </div>
        <div id="addContactOverlay" class="addContactOverlay"></div>
        <div id="tasksAreBetterWithATeam" class="tasksAreBetterWithATeam"></div>
        <div class="vector5"></div>
    </div>
    <div class="group13">
        <div id="frame79OpenCard" class="frame79 bigNameAbbreviation">
            <img src="../img/icons/whiteHuman.svg" alt="human" />
        </div>
    </div>
    <div class="forColumnDirection">
        <div class="group11OpenCard">
            <img
                onclick="closeContactModal()"
                src="../../assets/img/icons/cross.svg"
                alt="Kreuz" />
        </div>
        <div class="addContactText">
            <div class="frame155">
                <input
                    placeholder="Name"
                    id="newContactName"
                    type="name"
                    class="frame14" />
            </div>
            <div class="frame1570">
                <input
                    placeholder="Phone"
                    id="newContactPhone"
                    type="phone"
                    class="frame14" />
            </div>
            <div class="frame156">
                <input
                    placeholder="Email"
                    id="newContactMail"
                    type="mail"
                    class="frame14" />
            </div>
        </div>
        <div class="frame35">
            <div class="frame27">
                <div onclick="closeContactModal()" class="secondary-btn">
                    Cancel
                    <span class="iconoirCancel">
                        <img src="../img/icons/cross.svg" alt="Kreuz" />
                    </span>
                </div>
                <div
                    id="contactButton"
                    onclick="addNewContact(event)"
                    class="main-btn">
                    <div id="contactButtonName" class="CreateContact">
                        Create contact
                    </div>
                    <div class="akarIconsCheck">
                        <img src="../img/icons/checkContact.svg" alt="Haken" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
