<div class="taskarea">
    <div class="content-wrapper">
        <h1>Add Task</h1>
        <div class="addtask-form-container">
            <!-- left side -->
            <form onsubmit="" class="left-form">
                <div class="form-item">
                    <label for="title">Title</label>
                    <input type="text" placeholder="Enter a title" required>
                </div>
                <div class="form-item">
                    <label for="description">Description</label>
                    <textarea name="description" placeholder="Enter a description"></textarea>
                </div>

                <div class="form-item">
                    <div class="dropdown">
                        <div class="form-title">Choose Category</div>
                        <div class="dropdown-placeholder" id="category-input" onclick="toggleDropdown()">Choose Category<span>&lt;</span></div>
                        <input class="addCategoryInput d-none" placeholder="Enter category name" type="text">
                        <div class="createCatBtn d-none">
                            <img src="../img/icons/cancel.svg" class="cancel" onclick="cancelInput('cat')">
                            <img src="../img/icons/check_dark.svg" class="check" onclick="saveNewCat()">
                        </div>
                        <div class="category-colors d-none">
                            <div class="purple" onclick="pickCatColor('purple')"></div>
                            <div class="red" onclick="pickCatColor('red')"></div>
                            <div class="green" onclick="pickCatColor('green')"></div>
                            <div class="orange" onclick="pickCatColor('orange')"></div>
                            <div class="pink" onclick="pickCatColor('pink')"></div>
                            <div class="blue" onclick="pickCatColor('blue')"></div>
                        </div>
                        <div class="item-selection">
                            <ul id="category-selection">
                                <li onclick="createCategory()">Add new category</li>
                                <!-- Ab dem zweiten Listenpunkt muss aus dem Contacts-Array generiert werden -->
                                <li onclick="chosenCategory('Test 1')">Test 1<div class="purple"></div></li>
                                <li onclick="chosenCategory('Test 2')">Test 2<div class="green"></div></li>
                                <li onclick="chosenCategory('Test 3')">Test 3<div class="red"></div></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="form-item">
                    <div class="contact-dropdown">
                        <div class="form-title">Assigned to</div>
                        <div class="dropdown-placeholder" id="contacts-input" onclick="toggleAssigning()">Select contacts to assign<span>&lt;</span></div>
                        <input class="inviteContactInput d-none" placeholder="Enter email to invite contact" type="email">
                        <div class="inviteContactBtn d-none">
                            <img src="../img/icons/cancel.svg" class="cancel" onclick="cancelInput('contact')">
                            <img src="../img/icons/check_dark.svg" class="check" onclick="sendContactInvite()">
                        </div>
                        <div class="contacts-selection">
                            <div id="contact-selection">
                                <!-- Ab der zweiten div muss aus dem Contacts-Array generiert werden -->
                                <div class="contact-item"><label for="Testkontakt-1">Testkontakt 1<input class="dropdown-check" type="checkbox" id="Testkontakt-1"></label></div>
                                <div class="contact-item"><label for="Testkontakt-2">Testkontakt 2<input class="dropdown-check" type="checkbox" id="Testkontakt-2"></label></div>
                                <div class="contact-item"><label for="Testkontakt-3">Testkontakt 3<input class="dropdown-check" type="checkbox" id="Testkontakt-3"></label></div>
                                <div class="contact-item"><label for="Testkontakt-4">Testkontakt 4<input class="dropdown-check" type="checkbox" id="Testkontakt-4"></label></div>
                                <div class="contact-item" onclick="inviteContact()">Invite new contact<span><img class="addcontact-li" src="../img/icons/contacts-black.svg"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="vertical-divider"></div>
            <!-- right side -->
            <form onsubmit="" class="right-form">
                <div class="form-item">
                    <label for="due-date">Due Date</label>
                    <input name="due-date" type="date" class="date-input" id="due-date" onchange="dateColor()">
                </div>
                <div class="form-item">
                    <div class="form-title">Prio</div>
                    <div class="prio-buttons">
                        <div class="urgent" onclick="pickPrio('urgent')">
                            Urgent <span class="prio-img"><img src="../img/icons/urgent-nofill-orange.svg" alt=""></span>
                        </div>
                        <div class="medium" onclick="pickPrio('medium')">
                            Medium <span class="prio-img"><img src="../img/icons/medium_nofill_orange.svg" alt=""></span>
                        </div>
                        <div class="low" onclick="pickPrio('low')">
                            Low <span class="prio-img"><img src="../img/icons/low_nofill_green.svg" alt=""></span>
                        </div>
                    </div>
                </div>
                
                
                <div class="form-item">
                    <div class="dropdown">
                        <div class="form-title">Subtasks</div>
                        <div class="dropdown-placeholder" id="subtask-placeholder" onclick="changeFormIcons('subtask')">Add Subtask<span>&plus;</span></div>
                        <input type="text" class="d-none subtask-input" id="subtask-value" placeholder="Enter a title">
                        <div class="addTaskBtns d-none">
                            <img src="../img/icons/cancel.svg" class="cancel" onclick="cancelInput('subtask')">
                            <img src="../img/icons/check_dark.svg" class="check" onclick="saveSubtask()">
                        </div>
                    </div>
                    <ul class="subtask-list" id="subtask-overview">
                        <li class="subtask-item">
                            <input type="checkbox" id="subtask1" name="subtask1" value="subtask.value">
                            <label for="subtask1">Subtask 1</label>
                        </li>
                        <li class="subtask-item">
                            <input type="checkbox" id="subtask2" name="subtask2" value="subtask2.value">
                            <label for="subtask2">Subtask 2</label>
                        </li>
                        <li class="subtask-item">
                            <input type="checkbox" id="subtask3" name="subtask3" value="subtask3.value">
                            <label for="subtask3">Subtask 3</label>
                        </li>
                    </ul>
                </div>
                
            </form>
        </div>
    </div>
</div>