<header>
    <div class="title">
        <h1>Board</h1>
    </div>

    <div class="interactive-container">
        <div class="search-container">
            <input type="text" placeholder="Find Task" class="lupe-img">
        </div>
        <div class="button-container">
            <button>Add Task +</button>
        </div>
    </div>
</header>

<main>
    <div class="to-do-column"></div>
    <div class="in-progress-column"></div>
    <div class="feedback-column"></div>
    <div class="done-column"></div>
</main>