<header>
    <div class="title">
        <h1>Board</h1>
    </div>

    <div class="interactive-container">
        <div class="search-container">
            <input type="text" placeholder="Find Task" class="lupe-img">
        </div>
        <div class="button-container">
            <button>Add Task +</button>
        </div>
    </div>
</header>

<main>
    <div class="column-direction">
        <div class="box-title">
            <h2>To-Do</h2>
            <img src="../../assets/img/icons/plus-button.svg" alt="Plus Button">
        </div>
        <div class="box-task-design"></div>
    </div>
    <div class="column-direction">
        <div class="box-title">
            <h2>In Progress</h2>
            <img src="../../assets/img/icons/plus-button.svg" alt="Plus Button">
        </div>
        <div class="box-task-design"></div>
    </div>
    <div class="column-direction">
        <div class="box-title">
            <h2>Awainting Feedback</h2>
            <img src="../../assets/img/icons/plus-button.svg" alt="Plus Button">
        </div>
        <div class="box-task-design"></div>
    </div>
    <div class="column-direction">
        <div class="box-title">
            <h2>Done</h2>
            <img src="../../assets/img/icons/plus-button.svg" alt="Plus Button">
        </div>
        <div class="box-task-design"></div>
    </div>
</main>