<header>
    <div class="title">
        <h1>Board</h1>
    </div>

    <div class="interactive-container">
        <input type="text" placeholder="Find Task" class="lupe-img">
        <button>Add Task
            <img src="../../assets/img/icons/cross-white.svg" alt="Cross Button">
        </button>
    </div>
</header>

<main>
    <div class="column-direction">
        <div class="box-title">
            <h2>To-Do</h2>
            <img src="../../assets/img/icons/plus-button.svg" alt="Plus Button">
        </div>
        <div class="box-task-design">1</div>
        <div class="box-task-design">1</div>
    </div>
    <div class="column-direction">
        <div class="box-title">
            <h2>In Progress</h2>
            <img src="../../assets/img/icons/plus-button.svg" alt="Plus Button">
        </div>
        <div class="box-task-design">2</div>
        <div class="box-task-design">2</div>
    </div>
    <div class="column-direction">
        <div class="box-title">
            <h2>Awainting Feedback</h2>
            <img src="../../assets/img/icons/plus-button.svg" alt="Plus Button">
        </div>
        <div class="box-task-design">3</div>
        <div class="box-task-design">3</div>
    </div>
    <div class="column-direction">
        <div class="box-title">
            <h2>Done</h2>
            <img src="../../assets/img/icons/plus-button.svg" alt="Plus Button">
        </div>
        <div class="box-task-design">4</div>
        <div class="box-task-design">4</div>
    </div>
</main>