<div class="contacts">
    <article class="allContacts" id="contacts"></article>
    <article class="selectedContact">
        <div class="contactSlogan">
            <p class="contactsTitle">Contacts</p>
            <div class="contactsVector"></div>
            <p class="contactsText">Better with a team</p>
        </div>
        <div class="floatingContact">
            <div class="frame105">
                <div id="frame79" class="frame79 bigNameAbbreviation">
                    <div id="firstLetters" class="AM amBigNameAbbrevation">
                        AM
                    </div>
                </div>
                <div class="frame104">
                    <div class="frame81 frame81Floating">
                        <div id="contactName">Anton Mayer</div>
                    </div>
                    <div class="frame108">
                        <div class="addTaskContacts">
                            <div class="group11">
                                <div class="vector14"></div>
                                <div class="vector13"></div>
                            </div>
                            <div class="addTask">Add Task</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="frame106">
                <div id="contactInformation" class="contactInformation">
                    Contact Information
                </div>
                <div class="frame100">
                    <div
                        onclick="showContactModal('editContact')"
                        id="editContacts"
                        class="editContacts">
                        <div class="group8">
                            <img
                                src="../../assets/img/icons/pencil.svg"
                                alt="" />
                        </div>
                        <div id="editContact" class="editContact">
                            Edit Contact
                        </div>
                    </div>
                </div>
            </div>
            <div class="frame101">
                <div class="frame102">
                    <div class="email">Email</div>
                    <div id="contactEmail" class="contactCardEmail">
                        gutentag@mail.com
                    </div>
                </div>
                <div class="frame102">
                    <div class="phone">Phone</div>
                    <div id="contactPhone" class="floatingContactPhone">
                        +49 176 13264856
                    </div>
                </div>
            </div>
        </div>
        <div class="forButton">
            <button
                openModalButton
                onclick="showContactModal('addNewContact', -1)"
                class="main-btn">
                <div class="newContact">New contact</div>
                <img
                    src="../../assets/img/icons/new-contact.svg"
                    class="capa1" />
            </button>
        </div>
    </article>
</div>