<main class="contacts">
    <article class="allContacts" id="contacts"></article>
    <article class="selectedContact">
        <div class="contactSlogan">
            <p class="contactsTitle">Contacts</p>
            <div class="contactsVector"></div>
            <p class="contactsText">Better with a team</p>
        </div>
        <div class="floatingContact">
            <div class="frame105">
                <div class="frame79">
                    <div id="firstLetters" class="AM">AM</div>
                </div>
                <div class="frame104">
                    <div class="frame81">
                        <div id="contactName">Anton Mayer</div>
                    </div>
                    <div class="frame108">
                        <div class="addTaskContacts">
                            <div class="group11">
                                <div class="vector14"></div>
                                <div class="vector13"></div>
                            </div>
                            <div class="addTask">Add Task</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="frame106">
                <div class="contactInformation">Contact Information</div>
                <div class="frame100">
                    <div class="editContacts">
                        <div class="group8">
                            <img src="../../assets/img/pencil.svg" alt="">
                        </div>
                        <div class="editContact">Edit Contact</div>
                    </div>
                </div>
            </div>
            <div class="frame101">
                <div class="frame102">
                    <div id="contactEmail" class="email">Email</div>
                    <div class="contactCardEmail">gutentag@mail.com</div>
                </div>
                <div class="frame102">
                    <div id="contactPhone" class="phone">Phone</div>
                    <div class="floatingContactPhone">+49 176 13264856</div>
                </div>
            </div>
        </div>
        <div onclick="showContactModal()" class="secondaryContact">
            <div class="newContact">New contact</div>
            <div class="capa1">
                <div class="capa1Vector1"></div>
                <div class="capa1Vector2"></div>
                <div class="capa1Vector3"></div>
            </div>
        </div>
    </article>
</main>

        <main id="divForAddContact" class="divForAddContact dpNone">
            <div class="addContact">
                <article class="addContactLeftSide"></article>
                <article class="addContactRightSide">
                    <div></div>
                    <div>
                        <input
                            id="newContactFirstName"
                            placeholder="firstName"
                            type="text" />
                        <input
                            id="newContactSecondName"
                            placeholder="secondName"
                            type="text" />
                        <input
                            id="newContactEmail"
                            placeholder="email"
                            type="email" />
                        <input
                            id="newContactPhone"
                            placeholder="phone"
                            type="tel" />
                        <form>
                            <button onclick="" class="secondary-btn">
                                Cancel
                            </button>
                            <button
                                onclick="addNewContact(event)"
                                class="main-btn">
                                Create contact
                            </button>
                        </form>
                    </div>
                </article>
            </div>
        </main>
    </article>
</main>
