<header>
    <div>
        <h2>Summary</h2>
    </div>
    <div class="border-color">
        <h3>Everything in a nutshell!</h3>
    </div>
</header>
<main>
    <!--Task Sektion-->
    <div class="left-content">
        <div class="task-board-container tasks-container">
            <span>5</span> <br>
            <span>Tasks in Board</span>
        </div>
        <div class="task-progress-container tasks-container">
            <span>2</span>  <br>
            <span>Tasks in Progress</span>
        </div>
        <div class="task-feedback-container tasks-container">
            <span>2</span> <br>
            <span>Awaiting Feedback</span>
        </div>
        <div class="urgent-tasks-container tasks-container">
            <div>
                <span>1</span> <br>
                <span>Urgent</span>
            </div>
            <div>
                <span>October 16, 2022</span> <br>
                <span>Upcoming Deadline</span>
            </div>
        </div>
        <div class="to-do-container tasks-container">
            <div>
                <span>1</span> <br>
                <span>To-Do</span>
            </div>
        </div>
        <div class="done-container tasks-container">
            <div>
                <span>1</span> <br>
                <span>Done</span>
            </div>
        </div>
    </div>
    <!--Greeting Sektion-->
    <div class="right-content">
        <span>Good morning,</span>
        <h4>Max Mustermann</h4>
    </div>
</main>
